<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 manage-table div-box">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Company</th>
                    <th>Gender</th>
                    <th class="action-column text-center">Manage</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of dtData; let i = index">
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.company}}</td>
                    <td>
                        {{item.gender}}
                    </td>
                    <td class="text-center"><span class="fa fa-edit fa-lg"></span></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3">
                        <button class="btn btn-default remove-all" *ngIf="canRemove">Remove All</button>
                        <span class="show-items">Show 1 to 5 in {{dtData.length}} entries</span>
                    </td>
                    <td colspan="3" class="hide">
                        <ul class="pagination pull-right">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!--/.row-->
</div>